__pycache__/
*.pyc
*.egg-info/
.DS_Store
.pytest_cache/
.vscode/
.cache/
*.log
.venv/
dist/
build/
# cython
*.c
*.so
*.pyd
.auth_cache.json
.session_cache.json
.chrome_profile/
data/
!data/botion_js/
node_modules/